.msjspan{
    opacity: 0.6;
}

.red-text {
    color: red;
    border: 2px solid red;
}

.orange-text {
    color: orange;
    border: 2px solid orange;
}

.green-text {
    color: green;
    border: 2px solid green;
}

.orange-confirm{
    color: orange;
    border: 2px solid orange;
}

.green-confirm{
    color: green;
    border: 2px solid green;
}